<link rel="stylesheet" href="/css/github-markdown.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<head>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <a class="navbar-brand" href="http://localhost:8000/">Home</a>
            <a class="navbar-brand" href="http://localhost:8000/add">Add Contact</a>
        </div>
    </nav>
</head>
<body class="markdown-body">
    <h2>Contact List(s)</h2>
    <a class="markdown-body" href="http://localhost:8000/users">All Contacts</a>
</body>
